h1 {
    background-color: #3498db;
    color: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 50px;
    
}

#equation-label {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.input-label {
    width: 300px;
    color: #0030cf;
    display: block;
}

.input-field {
    width: 200px;
    display: block;
}

table {
    border-collapse: collapse
}

th,
td {
    padding: 8px;
    text-align: left;
    border: 0.5px solid #ddd;
}

tr {
    margin-bottom: 1000px;
}

body {
    font-family: Calibri, sans-serif;
}

.btn-shadow {
    background-color: steelblue;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    transition: 0.25s ease;
    box-shadow: 5px 5px 5px #aaa;
    margin-left: 320px;
    border-radius: 3px;
    margin-top: 20px;
}

.btn-shadow:hover {
    box-shadow: 0px 0px #aaa;
    cursor: pointer;

}

#equation-image {
    width: 300px;
    height: 70px;
    overflow: hidden;
    position: relative;
    border-style: solid;
}

#equation-image img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}